html {
	font-size: 10px;
}
body {
	font-size: auto;
}
#errors {
	color: red;
	font-size: 1.5rem;
}
#gridcont {
	float: left;
}
table {
	border-collapse: collapse;
	border: 2px solid black;
}
td {
	border: 1px solid black;
	background-color: white;
	width: 3.9rem;
	height: 4.2rem;
	padding: 0;
	overflow: hidden;
	color-adjust: exact;
	-webkit-print-color-adjust: exact;
}
td.blocked {
	background-color: black;
}
td.has-clue:before {
	content: attr(data-cluenum);
	position: absolute;
	margin-left: 2px;
	margin-top: 0px;
	font: 1.3rem arial;
}
td.special-C:before {
	margin-left: 3px;
}
.letter-container {
	position: relative;
}
.letter {
	font: 2.2rem arial;
	text-transform: uppercase;
	position: absolute;
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 0.9rem;
	margin-left: 0;
}
td:after {
	height: 100%;
	display: block;
	content: "\00a0";
}
td.special-C:after {
	width: 2px;
	background-color: black;
	height: 100%;
	display: block;
	content: "\00a0";
	color-adjust: exact;
	-webkit-print-color-adjust: exact;
}
td.special-A {
	background-image: url(arrow-tr.png);
	background-repeat: no-repeat;
	background-position: top 2px right 2px;
}
td.special-B {
	background-image: url(arrow-bl.png);
	background-repeat: no-repeat;
	background-position: bottom 2px left 2px;
}
td.special-C {
	background-image: url(arrow-tl.png);
	background-repeat: no-repeat;
	background-position: top 2px left 19px;
}

.need-selection {
	display: none;
}
.have-selection .need-selection {
	display: inline;
}

.clues-dir {
	float: left;
	margin: 0 6px;
	width: 370px;
	font-size: 16px;
}
h2 {
	margin: 10px;
}
.index {
	font-weight: bold;
}
.clue::after {
	/* Maintain line height for two-line clues that get selected and bolded,
	 * by giving them an invisible bolded part at the end. */
	content: ' ';
	font-weight: bold;
	visibility: hidden;
}

@media screen {
td.highlighted {
	background-color: #ffff80;
}
td.selected {
	background-color: #e0e040;
}
div.selected {
	background-color: #ffff80;
}
div.selected > .clue-text {
	font-weight: bold;
}
}

@media print {
/* @page {size: landscape}, remove clear: both? */
html {
	font-size: 8px;
}
h2 {
	margin: 10px 5px 5px 5px;
}
#clues {
	clear: both;
}
#buttons {
	display: none;
}
.clues-dir {
	float: left;
	margin: 0 6px;
	width: 300px;
	font: 1.8rem Georgia, serif;
	line-height: 1.3;
}
}
