html {
	font-size: 10px;
}
body {
	font-size: auto;
}
#dummyinput {
	position: absolute;
	top: -100px;
	left: -100px;
	width: 10px;
	height: 10px;
}
#errors {
	color: red;
	font-size: 1.5rem;
}
#buttons {
	font-size: 1.5rem;
	padding: 7px 0;
}
.toggle-cheats-btn {
	margin-left: 3px;
}
.explain-btn {
	display: none;
}
.cheat-table {
	margin: 3px 0;
	display: none;
}
.cheats-visible .cheat-table, .cheats-visible .explain-btn {
	display: block;
}
#gridcont {
	float: left;
}
#grid {
	border-collapse: collapse;
	border: 2px solid black;
}
#grid:focus {
	outline: none;
}
body:not(.has-selection) #grid:focus {
	border-color: orange;
}
#grid td {
	border: 1px solid black;
	background-color: white;
	width: 3.9rem;
	height: 4.2rem;
	padding: 0;
	overflow: hidden;
	color-adjust: exact;
	-webkit-print-color-adjust: exact;
}
#grid td.blocked {
	background-color: black;
}
#grid td.has-clue:before {
	content: attr(data-cluenum);
	position: absolute;
	margin-left: 2px;
	margin-top: 0px;
	font: 1.3rem arial;
}
.letter-container {
	position: relative;
}
.letter {
	font: 2.2rem arial;
	text-transform: uppercase;
	position: absolute;
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 0.9rem;
	margin-left: 0;
}
#grid td:after {
	height: 100%;
	display: block;
	content: "\00a0";
}
#grid td.special-barLeft:before {
	margin-left: 3px;
}
#grid td.special-barLeft:after {
	width: 2px;
	background-color: black;
	height: 100%;
	display: block;
	content: "\00a0";
	color-adjust: exact;
	-webkit-print-color-adjust: exact;
}
#grid td.special-turnRightDown {
	background-image: url(arrow-tr.png);
	background-repeat: no-repeat;
	background-position: top 2px right 2px;
}
#grid td.special-turnUpLeft {
	background-image: url(arrow-tr2.png);
	background-repeat: no-repeat;
	background-position: top 2px right 2px;
}
#grid td.special-turnDownRight {
	background-image: url(arrow-bl.png);
	background-repeat: no-repeat;
	background-position: bottom 2px left 2px;
}
#grid td.special-turnLeftUp {
	background-image: url(arrow-bl2.png);
	background-repeat: no-repeat;
	background-position: bottom 2px left 2px;
}
#grid td.special-turnUpRight {
	background-image: url(arrow-tl.png);
	background-repeat: no-repeat;
	background-position: top 2px left 2px;
}
#grid td.special-turnLeftDown {
	background-image: url(arrow-tl2.png);
	background-repeat: no-repeat;
	background-position: top 2px left 2px;
}
#grid td.special-turnRightUp {
	background-image: url(arrow-br.png);
	background-repeat: no-repeat;
	background-position: bottom 2px right 2px;
}
#grid td.special-turnDownLeft {
	background-image: url(arrow-br2.png);
	background-repeat: no-repeat;
	background-position: bottom 2px right 2px;
}
#grid td.special-barLeft.special-turnUpRight,
#grid td.special-barLeft.special-turnLeftDown {
	background-position-x: left 3px;
}
#grid td.has-clue.special-turnUpRight,
#grid td.has-clue.special-turnLeftDown {
	background-position-x: left 18px;
}
#grid td.has-clue.special-barLeft.special-turnUpRight,
#grid td.has-clue.special-barLeft.special-turnLeftDown {
	background-position-x: left 19px;
}

.clues-dir {
	float: left;
	margin: 0 6px;
	width: 370px;
	font-size: 16px;
}
h2 {
	margin: 10px;
}
.index {
	font-weight: bold;
}
.clue::after {
	/* Maintain line height for two-line clues that get selected and bolded,
	 * by giving them an invisible bolded part at the end. */
	content: ' ';
	font-weight: bold;
	visibility: hidden;
}

@media screen {
#grid td.highlighted {
	background-color: #ffff80;
}
#grid td.selected {
	background-color: #e0e040;
}
div.selected {
	background-color: #ffff80;
}
div.selected > .clue-text {
	font-weight: bold;
}
}

@media print {
/* @page {size: landscape}, remove clear: both? */
html {
	font-size: 8px;
}
h2 {
	margin: 10px 5px 5px 5px;
}
#clues {
	clear: both;
}
#buttons {
	display: none;
}
.clues-dir {
	float: left;
	margin: 0 6px;
	width: 300px;
	font: 1.8rem Georgia, serif;
	line-height: 1.3;
}
}
