html {
	font-size: 10px;
}
#dummyinput {
	/* Off-screen, and with a font-size large enough to avoid automatic zoom
	 * on focus. */
	position: absolute;
	top: -100px;
	left: -100px;
	width: 10px;
	height: 10px;
	font-size: 50px;
	z-index: -1;
}
#indexpage {
	display: none;
	font-size: 1.5rem;
}
body.indexpage #indexpage {
	display: block;
}
body.indexpage #gridcont {
	display: none;
}
#errors {
	color: red;
	font-size: 1.5rem;
}
#buttons {
	font-size: 1.5rem;
	padding: 7px 0;
}
.toggle-cheats-btn {
	margin-left: 3px;
}
.explain-btn {
	display: none;
}
.cheat-table {
	margin: 3px 0;
	display: none;
}
.cheats-visible .cheat-table, .cheats-visible .explain-btn {
	display: block;
}
#gridcont {
	float: left;
}
#gridborder {
	border: 1px solid black;
	background-color: black;
	color-adjust: exact;
	-webkit-print-color-adjust: exact;
}
#grid {
	border-collapse: collapse;
	border: 1px solid black;
}
#gridborder:focus {
	outline: none;
}
body:not(.has-selection) #gridborder:focus {
	border-color: orange;
	border-width: 2px;
	margin: -1px;
}
#grid td {
	box-sizing: border-box;
	border: 1px solid black;
	background-color: white;
	width: 4.0rem;
	height: 4.3rem;
	padding: 0;
	overflow: hidden;
	color-adjust: exact;
	-webkit-print-color-adjust: exact;
	--cell-height: 4.2rem;
}
#grid td.special-blocked {
	background-color: black;
}
#grid td.has-clue::before {
	content: attr(data-cluenum);
	position: absolute;
	margin-left: 2px;
	margin-top: 0px;
	font: 1.3rem arial;
}
.letter-container {
	position: relative;
}
.letter {
	font: 2.2rem arial;
	text-transform: uppercase;
	position: absolute;
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 0.9rem;
	margin-left: 0;
}
td.special-barLeft .letter,
td.special-wordBarLeft .letter {
	margin-left: -0.1rem;
}
td.special-barUp .letter,
td.special-wordBarUp .letter {
	margin-top: 0.8rem;
}
#grid td.has-clue.special-barUp::before,
#grid td.has-clue.special-wordBarUp::before {
	margin-top: -1px;
}
#grid td::after {
	height: 100%;
	display: block;
	content: "\00a0";
}
#grid td.special-barUp,
#grid td.special-wordBarUp {
	border-top-width: 3px;
}
#grid td.special-barLeft,
#grid td.special-wordBarLeft {
	border-left-width: 3px;
}
#grid .dash {
	/* Allow child elements to be positioned relative to this one, while also
	 * being outside the flow. (position: relative on the parent element does
	 * not work for this purpose.) */
	position: absolute;
}
#grid td.special-dashLeft > .dash::before {
	/* Rectangle that looks like a "-" */
	content: '';
	display: block;
	position: absolute;
	width: 9px;
	height: 3px;
	top: calc(var(--cell-height) / 2 - 2px);
	left: -5px;
	background-color: black;
	pointer-events: none;
}
#grid td.special-turnRightDown {
	background-image: url(imgs/arrow-tr.png);
	background-repeat: no-repeat;
	background-position: top 2px right 2px;
}
#grid td.special-turnUpLeft {
	background-image: url(imgs/arrow-tr2.png);
	background-repeat: no-repeat;
	background-position: top 2px right 2px;
}
#grid td.special-turnDownRight {
	background-image: url(imgs/arrow-bl.png);
	background-repeat: no-repeat;
	background-position: bottom 2px left 2px;
}
#grid td.special-turnLeftUp {
	background-image: url(imgs/arrow-bl2.png);
	background-repeat: no-repeat;
	background-position: bottom 2px left 2px;
}
#grid td.special-turnUpRight {
	background-image: url(imgs/arrow-tl.png);
	background-repeat: no-repeat;
	background-position: top 2px left 2px;
}
#grid td.special-turnLeftDown {
	background-image: url(imgs/arrow-tl2.png);
	background-repeat: no-repeat;
	background-position: top 2px left 2px;
}
#grid td.special-turnRightUp {
	background-image: url(imgs/arrow-br.png);
	background-repeat: no-repeat;
	background-position: bottom 2px right 2px;
}
#grid td.special-turnDownLeft {
	background-image: url(imgs/arrow-br2.png);
	background-repeat: no-repeat;
	background-position: bottom 2px right 2px;
}
#grid td.has-clue.special-turnUpRight,
#grid td.has-clue.special-turnLeftDown {
	background-position-x: 18px;
}
#grid td.has-single-digit-clue.special-turnUpRight,
#grid td.has-single-digit-clue.special-turnLeftDown {
	background-position-x: 10px;
}
#grid td.special-arrowRightDown {
	background-image: url(imgs/large-arrow-tr.png);
	background-repeat: no-repeat;
	background-position: center;
}
#grid td.special-arrowRight {
	background-image: url(imgs/large-arrow-r.png);
	background-repeat: no-repeat;
	background-position: center;
}
#grid td.special-arrowDownRight {
	background-image: url(imgs/large-arrow-bl.png);
	background-repeat: no-repeat;
	background-position: center;
}
#grid td.special-letterDisplay {
	background-image: none;
}

.clues-dir {
	float: left;
	margin: 0 6px;
	width: 370px;
	font-size: 16px;
}
h2 {
	margin: 10px;
}
.index {
	font-weight: bold;
}
.clue::after {
	/* Maintain line height for two-line clues that get selected and bolded,
	 * by giving them an invisible bolded part at the end. */
	content: ' ';
	font-weight: bold;
	visibility: hidden;
}

@media screen {
#grid td.highlighted {
	background-color: #ffff80;
}
#grid td.selected {
	background-color: #e0e040;
}
div.selected {
	background-color: #ffff80;
}
div.selected > .clue-text {
	font-weight: bold;
}
}

@media print {
/* @page {size: landscape} to force landscape mode? */
html {
	font-size: 8px;
}
h2 {
	margin: 10px 5px 3px 0;
}
#buttons {
	display: none;
}
#clues {
	/* Clues below grid */
	clear: both;
}
.clues-dir {
	box-sizing: border-box;
	padding: 0 6px;
	margin: 0;
	width: 50%;
	font: 1.8rem Georgia, serif;
	line-height: 1.3;
}
}

@media print and (orientation: landscape) {
#clues {
	/* Clues to the side */
	clear: none;
}
h2 {
	margin-top: 0;
}
#gridcont {
	padding-right: 5px;
}
.clues-dir {
	/* TODO: half the remaining space, somehow */
	width: 250px;
}
}
